
  <div>
    <h2><%= shop.name %></h2>
  </div>
  
  <div>
    <%= link_to shop_path(shop.slug) do  %>
      <% if shop.photo_url %>
        <%= image_tag(shop.photo_url) %>
      <% else %>
        <%= image_tag('https://via.placeholder.com/430x300.png') %>
      <% end %>
    <% end %>
</div>

  <div>
    <span>Disponible !</span>
  </div>
