<%= link_to 'Go Back', shops_path %>
<h1> <%= @shop.name %> </h1>

<p>
  <div>
    <% if @shop.products.any? -%>
        <% @shop.taxons.each do |taxon| -%>
          <h1><%= tag.li taxon.name %></h1>
            <div class="product-list">
              <% @shop.products.each do |product| -%>
                  <% if product.taxons.ids.include?(taxon.id) -%>
                    <%= render product %>
                  <% end -%>
              <% end -%>
            </div>
        <% end -%>
    <% else%>
    No products at the moment...
    <% end -%>
  </div>
</p>
